/* Styles de base pour les écrans plus grands */
.sliderContainer {
    width: 90%;
    margin-left: 5%;
    height: 20%;
    background-color: #1f1d1e;
    padding: 2%;
    border-radius: 10px;
    overflow: hidden; /* Empêche les images de déborder */
}

.mangaItem {
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
}

.coverImage {
    margin-left: 0; /* Supprime la marge des images pour éviter le débordement */
    margin-right: 0;
    width: 100%; /* Utilise toute la largeur disponible */
    height: 550px;
    transition: 0.2s;
}

.coverImage:hover {
    opacity: 0.5;
}

.popularTitleTitle {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

.footerDiv {
    height: 100px;
}

/* Styles spécifiques aux écrans jusqu'à 768px */
@media (max-width: 768px) {
    .sliderContainer {
        width: 95%; /* Ajuste la largeur du conteneur pour les écrans plus petits */
        margin-left: 2.5%; /* Ajuste le centrage pour les petits écrans */
        height: auto; /* Permet au conteneur de s'ajuster à son contenu */
    }

    .mangaItem {
        margin-left: 0; /* Supprime les marges pour éviter le débordement */
        margin-right: 0;
    }

    .coverImage {
        width: 100%; /* Utilise toute la largeur disponible */
        height: 400px; /* Réduit la hauteur pour les écrans plus petits */
    }
}

@media (max-width: 480px) {
    .sliderContainer {
        width: 100%; /* Assure que le conteneur occupe toute la largeur de l'écran */
        margin-left: 0;
    }

    .mangaItem {
        margin-left: 0; /* Supprime les marges pour éviter le débordement */
        margin-right: 0;
    }

    .coverImage {
        height: 300px; /* Réduit encore la hauteur pour les très petits écrans */
    }

    .popularTitleTitle {
        font-size: 1.2rem; /* Réduit la taille du texte pour les très petits écrans */
    }
}
